body{
	font-family: "Arial Black", Gadget, sans-serif;
	background-color: #353C94;
	color: white;
}

h1{
	font-size: 62pt;
}

h2{
	font-size: 30pt;
}

h3{
	font-size: 24pt;
}

button{
	background: none;
	text-decoration: none;
	border: none;
	font-size: 20pt;
	outline: none;
	text-align: left;
	font-weight: 300;
}

#backgroundCircles{
	position: absolute;
	width: 100%;
	height: 100%;
}

.circle{
	position: absolute;
	width: 200px;
	height: 200px;
	border-radius: 100px;
}

#redCircle{
	left: 30%;
	top: 20%;
	background-color: #EA276D;
}

#yellowCircle{
	left: 70%;
	top: 10%;
	background-color: #FFD255;
}

#purpleCircle{
	background-color: #7176D4;
}

#whiteCircle{
	left: 90%;
	top: 70%;
	background-color: white;
}

#tealCircle{
	left: 10%;
	top: 80%;
	background-color: #45C899;
}

#outerContainer{
	position: absolute;
	width: 50%;
	left: 25%;
	top:10%;
}

.center{
	position: relative;
	color: white;
}

#startGameButton{
	color: white;
	margin: 20px 20px;

}

#startGameButton:hover{
	color: white;
}

#timer{
	border-radius: 70px;
	padding: 5px 10px;
}

#timerDiv{
	margin-bottom: 40px;
}

#innerContainer{
	position: relative;
	border: 5px solid;
	border-radius: 25px;
	background-color: white;
	padding: 10px 15px;
	margin-top: 20px;
}

#question{
	font-weight: 550;
}

#answersDiv button{
	border: 2px solid #E5E5E5;
	margin-bottom: 10px;
	padding-left: 40px;
}

button, #question, #gameStats, #answersDiv button:hover{
	color: black;
}

.center, #startGameButton, #timer, #answersDiv button{
	width: 100%;
}

#startGameButton, #answersDiv button{
	border-radius: 35px;
}

#startGameButton, #timer{
	border: 2px solid #45C899;
}

#startGameButton:hover, #answersDiv button:hover{
	background-color: #45C899;
}

.center, #startGameButton, #innerContainer{
	text-align: center;
}

#startGameButton, #answersDiv button{
	height: 65px;
}

.center, #question{
	margin-bottom: 30px;
}